* {
	margin:0;
}
body{
	background-color: lightgray;
	text-align: center;
}
#header{
	background-color:black;
	height: 90px;
}
#logo{
	color:white;
	width:40%;
	float:left;
	text-align:center;
	line-height: 70px;
	font-family:arial;
}
a{
	font-family: verdana;
	color:white;
	text-decoration: none;
	margin-right: 30px;
}
#menu {
	text-align:center;
	float:right;
	width:60%;
	line-height: 70px;
}
#title{
	font-family: helvetica;
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
}
#hotel&rest{
	text-align: center;
	margin-top:20px;
}
#hr{
	background-color:rgb(214, 67, 67);
	width: 40%;
	color: white;
	padding: 20px;
	border-radius: 80px;
	text-align: center;
	margin:10px auto;
}
p{
	margin:20px 10px;
}
table {
	width:100%;
	margin: 15px auto;
}
img{
	border-radius: 30px;
	box-shadow: 0 0 20px black;
}
#bp{
	background-color:rgb(93, 81, 204);
	width: 40%;
	color: white;
	padding: 20px;
	border-radius: 80px;
	text-align: center;
	margin:10px auto;
}
#abouthead{
	background-color:rgb(177, 53, 94);
	width: 40%;
	color: white;
	padding: 20px;
	border-radius: 80px;
	text-align: center;
	margin:10px auto;
}
#best-place{
	text-align: center;
	margin-top:20px;
}
#about{
	align-items: center;
	margin-top:20px;
}
#footer{
	background-color:black;
	color:cornsilk;
	padding: 20px;
	
}